<header class="header bg-white">
    <div class="container px-0 px-lg-3">
        <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" routerLink="/home"><span
                    class="font-weight-bold text-uppercase text-dark">AnjaniStore</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon" routerLink="shopping"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="home">Home</a>
                    </li>

                    <li class="nav-item dropdown active" >
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Product
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/product/{{category._id}}" 
                          *ngFor="let category of categories">{{ category.category }}</a>
                        </div>
                      </li>



                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="shopping"> <i class="fas fa-shopping-cart mr-1 text-danger"></i>Cart({{total_card}})<small class="text-gray"></small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="!this.authService.loginsave" class="btn btn-outline-dark btn-sm" routerLink="register"> <i class="fas fa-user-alt mr-1 text-gray"></i>Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="!this.authService.loginsave" routerLink="/login"> <i class="fas fa-user-alt mr-1 text-gray"></i>Login</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()" *ngIf="!this.authService.loginsave"> <i class="fas fa-user-alt mr-1 text-danger"></i>LogOut</a>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>